<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719430910558-jj46d3m2ji41cvadcqag5921b162ke1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719430910558-jj46d3m2ji41cvadcqag5921b162ke1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDv285-lHJigrrhggJXZn3Ur9JeazmGvAA</string>
	<key>GCM_SENDER_ID</key>
	<string>719430910558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuntium-news-app</string>
	<key>PROJECT_ID</key>
	<string>nuntium-b2008</string>
	<key>STORAGE_BUCKET</key>
	<string>nuntium-b2008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719430910558:ios:4bb258410622206fe86acf</string>
</dict>
</plist>